/**
 * @author    Dmitriy Sokolenko
 * @copyright Copyright (c) 2020
 * @license   https://opensource.org/licenses/GPL-3.0
 */

<!-- HTML Element -->
<button type="button" id="seo-rewrite" class="btn btn-primary">Create SEO URL</button>

<!-- Script -->
<script type="text/javascript"><!--
  $('button[id=\'seo-rewrite\']').on('click', function() {
    var data = {};

    $.each({{ languages|json_encode() }}, function(code, language) {
      data[language.language_id] = $('input[name=\'product_description[' + language.language_id + '][name]\']').val();
    });

    $.ajax({
      url: 'index.php?route=tool/url&user_token={{ user_token }}',
      type: 'post',
      dataType: 'json',
      data: data,
      success: function(json) {
        $.each({{ stores|json_encode() }}, function(index, store) {
          $.each({{ languages|json_encode() }}, function(code, language) {
            $('input[name=\'product_seo_url[' + store.store_id + '][' + language.language_id + ']\']').val(json['result'][language.language_id]);
          });
        });
      }
    });
  });
//--></script>